<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>19/07/04 17:13:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.load()[pri:0, instance:Selenium.Demo.DemoTest@6d4b1c02]">&gt;&gt;load</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>19/07/04 17:13:08</td>   <td>7189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.login()[pri:0, instance:Selenium.Demo.DemoTest@6d4b1c02]">login</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>19/07/04 17:13:53</td>   <td>51419</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.onfinish()[pri:0, instance:Selenium.Demo.DemoTest@6d4b1c02]">&lt;&lt;onfinish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
</table>
